@import "./sass/helpers/variables";
@import "./sass/helpers/mixin";

$float-left: right;
$float-right: left;

$text-right: left;
$text-left: right;
/* Start Header */
header {
  .logo {
    @media #{$minMedium} {
      float: $float-left;
      text-align: $text-left;
    }
    .the-toggle {
      right: auto;
      left: 15px;
    }
  }
  .navbar {
    @media #{$minMedium} {
      float: $float-left;
    }

    li {
      float: $float-left;
      @media #{$maxMobile} {
        text-align: $text-left;
      }
    }
  }
}
/* End Header */
/* Start Home */
/* Start Services */
.services {
  .service-box {
    @media #{$minMedium} {
      float: $float-left;
    }
  }
}
/* End Services */

/* Start Services */
.our-player {
  .player-box {
    @media #{$minSmall} {
      float: $float-left;
    }
    @media #{$minMedium} {
      text-align: $text-left;
    }
  }
}
/* End Services */
/* Start Lorem */
.lorem {
  .lorem-box {
    @media #{$minSmall} {
      float: $float-left;
    }
  }
}
/* End Lorem */

/* End Home */

/* Start Footer */
footer {
  .gallery,
  .info,
  .contact-us {
    float: $float-left;
  }
  .gallery {
    .img-box {
      img {
        @media #{$minSmall} {
          float: $float-left;
        }
      }
      .text {
        @media #{$minSmall} {
          float: $float-left;
        }
      }
    }
  }

  .copyright {
    .text,
    .author {
      @media #{$minSmall} {
        float: $float-left;
        .author {
          text-align: $text-right;
        }
      }
    }
  }
}

/* End Footer */
