.main-button {
  background-color: rgba($mainColor, 0.8);
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  @include prefixing(transition, 2s, webkit moz o);
  &:hover {
    background-color: $mainColor;
  }
}
