/* media query mixin */
@mixin minMedium {
  @media (min-width: 992px) {
    @content;
  }
}

/* overlay mixin */
@mixin overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* prefix mixin */
@mixin prefixing($prop, $val, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $prop}: $val;
  }
  #{$prop}: $val;
}

/* animation mixin */
@mixin keyFrame($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin transition($trans...) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}
