footer {
  overflow: hidden;
  background-color: #e2e2e2;
  padding-top: 30px;
  margin-top: 50px;
  .gallery,
  .info,
  .contact-us {
    float: $float-left;
  }
  .gallery {
    width: 50%;
    .img-box {
      overflow: hidden;
      margin-bottom: 15px;
      img {
        float: $float-left;
        width: 150px;
        height: 150px;
      }
      .text {
        float: $float-left;
        margin: 0 15px;
        width: calc(100% - 180px);
        h4 {
          color: $mainColor;
        }
        p {
          color: #888;
          line-height: 1.9;
        }
      }
    }
  }

  .info {
    width: 25%;
    ul {
      color: #888;
      line-height: 1.8;
      li span {
        color: $mainColor;
      }
    }
    h4 {
      color: #888;
      font-weight: bold;
      margin-bottom: 0;
    }
    p {
      color: #888;
      margin-top: 8px;
    }
  }
  .contact-us {
    width: 25%;

    input[type="text"],
    input[type="email"],
    textarea {
      border: 1px solid #c9c9c9;
      margin-bottom: 10px;
      padding: 5px 10px;
      width: 100%;
      @include prefixing(border-radius, 10px, webkit mox o);
      &::placeholder {
        font-size: 12px;
        padding-left: 5px;
        letter-spacing: 1px;
      }
    }
    textarea {
      height: 200px;
    }
  }
  .section-title {
    color: #444;
    font-weight: normal;
  }
  .copyright {
    overflow: hidden;
    padding: 25px 0;
    border-top: 1px solid #c5c5c5;
    color: #888;
    .text,
    .author {
      float: $float-left;
      width: 50%;
    }
    .author {
      text-align: $text-right;
    }
  }
}
