/* End Slider */
.slider {
  blockquote {
    font: {
      size: 20px;
      style: italic;
      weight: bold;
      family: Arial, Helvetica, sans-serif, Tahoma;
    }
    line-height: 1.7;
    text-align: center;
    color: #5e5e5e;
    width: 80%;
    margin: 30px auto;
  }
  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
  .bullets {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $secondlyColor;
      border-radius: 50%;
      border: 3px soled $secondlyColor;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: #fff;
        border: 3px solid #333;
      }
    }
  }
}
/* End Slider */
/* Start Services */
.services {
  position: relative;
  .service-box {
    float: $float-left;
    width: (100% / 3);
    &:not(:last-of-type) {
      padding-right: 20px;
    }
    h3 {
      color: #666;
      i {
        font-size: 30px;
        position: relative;
        top: 4px;
        padding-right: 5px;
      }
    }
    p {
      color: #777;
      line-height: 1.5;
    }
    a {
      color: $mainColor;
      text-decoration: none;
    }
  }
}
/* End Services */

/* Start Services */
.our-player {
  position: relative;
  .player-box {
    float: $float-left;
    width: (100% / 5);
    padding-right: 20px;
    img {
      max-width: 100%;
    }
    h3 {
      color: #666;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    p {
      color: #777;
      line-height: 1.5;
    }
    a {
      color: $mainColor;
      text-decoration: none;
    }
  }
}
/* End Services */
/* Start Lorem */
.lorem {
  position: relative;
  .lorem-box {
    float: $float-left;
    width: calc(94% / 3);
    &:not(:last-of-type) {
      margin-right: 3%;
    }
    img {
      max-width: 100%;
    }
  }
}
/* End Lorem */
